doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title Bootstrap 3, from LayoutIt!
    meta(name='description', content='Source code generated using layoutit.com')
    meta(name='author', content='LayoutIt!')
    link(href='css/bootstrap.min.css', rel='stylesheet')
    link(href='css/style.css', rel='stylesheet')
  body
    .container-fluid
      .row
        .col-md-12
          h3.text-center
            | Within the past hour, there have been XXX tweets about the temperature. 
      .row
        .col-md-6
          p
            | IT'S TOO COLD 
            | 00 
            em
              | Morbi commodo sodales nisi id sodales. Proin consectetur, nisi id commodo imperdiet, metus nunc consequat lectus, id bibendum diam velit et dui.
            |  Proin massa magna, vulputate nec bibendum nec, posuere nec lacus. 
            small
              | Aliquam mi erat, aliquam vel luctus eu, pharetra quis elit. Nulla euismod ultrices massa, et feugiat ipsum consequat eu.
          p
            | Lorem ipsum dolor sit amet, 
            strong consectetur adipiscing elit
            | . Aliquam eget sapien sapien. Curabitur in metus urna. In hac habitasse platea dictumst. Phasellus eu sem sapien, sed vestibulum velit. Nam purus nibh, lacinia non faucibus et, pharetra in dolor. Sed iaculis posuere diam ut cursus. 
            em
              | Morbi commodo sodales nisi id sodales. Proin consectetur, nisi id commodo imperdiet, metus nunc consequat lectus, id bibendum diam velit et dui.
            |  Proin massa magna, vulputate nec bibendum nec, posuere nec lacus. 
            small
              | Aliquam mi erat, aliquam vel luctus eu, pharetra quis elit. Nulla euismod ultrices massa, et feugiat ipsum consequat eu.
        .col-md-6
          p
            | Lorem ipsum dolor sit amet, 
            strong consectetur adipiscing elit
            | . Aliquam eget sapien sapien. Curabitur in metus urna. In hac habitasse platea dictumst. Phasellus eu sem sapien, sed vestibulum velit. Nam purus nibh, lacinia non faucibus et, pharetra in dolor. Sed iaculis posuere diam ut cursus. 
            em
              | Morbi commodo sodales nisi id sodales. Proin consectetur, nisi id commodo imperdiet, metus nunc consequat lectus, id bibendum diam velit et dui.
            |  Proin massa magna, vulputate nec bibendum nec, posuere nec lacus. 
            small
              | Aliquam mi erat, aliquam vel luctus eu, pharetra quis elit. Nulla euismod ultrices massa, et feugiat ipsum consequat eu.
          p
            | Lorem ipsum dolor sit amet, 
            strong consectetur adipiscing elit
            | . Aliquam eget sapien sapien. Curabitur in metus urna. In hac habitasse platea dictumst. Phasellus eu sem sapien, sed vestibulum velit. Nam purus nibh, lacinia non faucibus et, pharetra in dolor. Sed iaculis posuere diam ut cursus. 
            em
              | Morbi commodo sodales nisi id sodales. Proin consectetur, nisi id commodo imperdiet, metus nunc consequat lectus, id bibendum diam velit et dui.
            |  Proin massa magna, vulputate nec bibendum nec, posuere nec lacus. 
            small
              | Aliquam mi erat, aliquam vel luctus eu, pharetra quis elit. Nulla euismod ultrices massa, et feugiat ipsum consequat eu.
      .row
        .col-md-12
          p
            | Lorem ipsum dolor sit amet, 
            strong consectetur adipiscing elit
            | . Aliquam eget sapien sapien. Curabitur in metus urna. In hac habitasse platea dictumst. Phasellus eu sem sapien, sed vestibulum velit. Nam purus nibh, lacinia non faucibus et, pharetra in dolor. Sed iaculis posuere diam ut cursus. 
            em
              | Morbi commodo sodales nisi id sodales. Proin consectetur, nisi id commodo imperdiet, metus nunc consequat lectus, id bibendum diam velit et dui.
            |  Proin massa magna, vulputate nec bibendum nec, posuere nec lacus. 
            small
              | Aliquam mi erat, aliquam vel luctus eu, pharetra quis elit. Nulla euismod ultrices massa, et feugiat ipsum consequat eu.
    script(src='js/jquery.min.js')
    script(src='js/bootstrap.min.js')
    script(src='js/scripts.js')
