doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title Bootstrap 3, from LayoutIt!
    meta(name='description', content='Source code generated using layoutit.com')
    meta(name='author', content='LayoutIt!')
    link(href='css/bootstrap.min.css', rel='stylesheet')
    link(href='css/style.css', rel='stylesheet')
  body
    .container-fluid
      .row
        .col-md-12
          h1.text-center 
            strong @MLHPrimeAC, there have been #{totalvotes} tweets about the temperature. 
      .row.text-center
        .col-md-6
          p
            | IT'S TOO COLD
          p
            | #{coldvotes}
        .col-md-6
          p
            | IT'S TOO HOT
          p
            | #{hotvotes}
      .row
        .col-md-12
          p.text-center
            | Tweet @MLHPrimeAC to vote! #toocold or #toohot
    script(src='js/bootstrap.min.js')
    script(src='js/scripts.js')
